#myCanvas{
    top: 20px;
    left: 20px;
    background-color: pink;
    height: 200px;
    width: 300px;
}
#getRadius{
    margin:30px 90px;
}
#draw{
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    transform: translate(-380%, 240%);
    cursor: pointer;
}
#clear{
    transform: translate(-320%, 240%);
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
#formula {
	position: absolute;
	top: 25px;
    width: 500px;
	left: 300px;
	white-space: nowrap;
	line-height: 2em;
	font-size: 80%;
}
.green { color: #33cc33; }
.blue  { color: #3333dd; }
.red   { color: #ff0000; }
.purple { color: #800080; }
 
#formula h3{
    margin-left: 150px;
    font-size: 25px;
}
#formula h2{
    margin-left: 100px;
    font-size: 30px;
}

.area{
    width: 800px;
    height: 300px;
    padding: 0 70px;
    margin-left: 300px;
    margin-top: 20px;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;  
}

.area .blue{
    font-weight: bold;
    font-size: 20px;
}
.area h2{
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 30px;
}
.area p{
    padding-left:100px; 
}

input[type= 'text']{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: #1b87ec;
    border: none;
    color: #fff;
    font-size: 20px;
}
input[type= 'submit']{
    background-color: red;
    color: #fff;
    margin-top:12px;
    margin-left: 20%;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 5px red;
    cursor: pointer;
    margin-bottom: 20px;
}

#ans{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top:-37px;
    margin-left: 240px;
} 
#answer{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top:-37px;
    margin-left: 160px;
}
